// Place all the styles related to the weather controller here.
// They will automatically be included in application.css.
// You can uise Sass (SCSS) here: http://sass-lang.com/
$transparent_white: rgba(255,255,255, .8);
//cleafix
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
//custom css
.whitebg{
  border-radius: 20px;
  background-color:$transparent_white;
  text-align:center;
  overflow:auto;
  padding:10px;
}

.navbar-brand{
  padding-right:70px;
}
.navbar-toggle{
  position:absolute;
  right:0;
  top:0;
}
.leftpane, .rightpane{
  float:left;
  width:50%;
}

.desc, .wimg{
  margin:0 auto;
}
.wimg img{
  height:50px;
  width:50px;
}
.padme{
  padding-bottom:10px;
}

//stickfooter
.footcontent{
  background-color:$transparent_white;
  padding:10px;
  height:100%;
  text-align:center;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

body{
  background-color:grey;
  height: 100%;
}

html{
  height: 100%;
}
#wrap {min-height: 100%;}

.container {overflow:auto;
	padding-bottom: 70px;}  /* must be same height as the footer */

#footer {
  position: relative;
  margin-top: -70px; /* negative value of footer height */
  height: 70px;
  clear:both;
 } 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

@media only screen and (max-width: 480px){
  #footer{
    height: auto;
  }
}
